.high-table {
    position: absolute;
    top: 10%;
    left: 18%;
}

.card {
    margin-top: 20px;
    height: auto;
    cursor: pointer;
    border: none;
}

img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.profile {
    display: flex;
    flex-direction: colu
}



