<nav class="navbar bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" routerLink="/home">Profile</a>
    <ul class="nav justify-content-end">
      <li *ngIf="!apiService.loggedIn()" class="nav-item">
        <a class="nav-link fs-4" routerLink="/signup">signup</a>
      </li>
      <li *ngIf="!apiService.loggedIn()" class="nav-item">
        <a class="nav-link fs-4" routerLink="/login">Login</a>
      </li>
      <li  class="nav-item">
        <button *ngIf="apiService.loggedIn()" class="nav-link fs-4" (click)="apiService.loggedOut()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
