<div class="container">
  <div class="card w-75 mb-3 border border-4 rounded-4 shadow-lg">
    <div class="card-body">
      <h1 class="m-4">User Profile Details</h1>
      <hr style="width: 600px" />
      <h5 class="card-title m-4">{{ profile.userName }}</h5>
      <h5 class="card-title m-4">Email: {{ profile.email }}</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary m-4" routerLink="/home"
        ><i class="bi bi-arrow-left"></i> All Profile</a
      >
    </div>
  </div>
</div>
